#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  word-wrap: break-word;
  line-height: 1.1;
}

/* Titles */

h1 {
  font-size: 45px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

/* States */

.success {
  color: green;
}

.info {
  color: rgb(121, 121, 234);
}

.error {
  color: red;
}

/* Comps */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #408347;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.address {
  color: rgb(110 147 218);
}

.wallets-container {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

@media (max-width: 500px) {
  .wallets-container {
    flex-direction: column;
    row-gap: 10px;
  }
}

.wallet:first-child {
  background-color: rgb(176, 189, 34);
}

.wallet:last-child {
  background-color: rgb(52, 52, 209);
}

.claimButton {
  background-color: #408347;
}

.separator {
  border-color: grey;
  margin: 50px 0;
}

.switchNetworkContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: red;
}

.switchNetworkButton {
  font-size: 20px;
  background-color: white;
  color: red;
}
